# python
__pycache__/
*.py[cod]
*$py.class

# data
*.tar.gz
*cifar-100-python/
*cifar-10-batches-py/
_CIFAR/
_MNIST/

# _TINYIMAGENET/
_CIFAR_N/

# bash scripts
run_all.sh
run.sh

# exp
exp/
exp_before0804/

# wandb
wandb/

# vscode
.vscode/