# python
__pycache__/
*.py[cod]
*$py.class

# data folders
_*

# results
saved_runs/
exp/
wandb/

# others
.vscode/
*.mat
*.json

# Research Data & Results
_*
_SVHN/
_FashionMNIST/
_MNIST/
saved_runs/
exp/
wandb/

# File types
*.mat
*.json
*.jpg
*.png
.DS_Store